<form action="/square/results" method="get">

  <div>
    <label for="square_results">Enter a number: </label>
    <input id="square_results" type="text" name="number">
  </div>
  <button>Submit</button>
</form>
